body,
h1,
p,
textarea {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.options {
    display: flex;
    justify-content: space-around;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 25px;
}

.header h1 {
    margin-bottom: 10px;
}

.header button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.header textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.lenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    align-content: center;
}

.post {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.post label {
    margin-right: 30px;
    width: 66px;
}

.post input[type="text"],
.post input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.post input[type="checkbox"] {
    margin-left: 5px;
}

.post textarea {
    width: 95%;
    padding: 15px;
    min-height: 300px;
    border: 2px solid #ccc;
    border-radius: 30px;
    margin-bottom: 20px;
}